/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #99c1b9;
}

/* 2. Content ================================= */

@keyframes delete-item{
	0%{
		height: 30px;
		opacity: 1;
	}
	100%{
		height: 0px;
		opacity: 0;
	}
}
@keyframes delete-buttons{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


.form-field-wrapper{
	margin: 50px auto;
	background-color: #f1e3d3;
	border: 2px solid white;
	border-radius: 5px;
	width: 60vw;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;

	.title-wrapper{
		display: flex;
		align-items: center;
		border-bottom: 2px solid white;
		border-radius: 5px;
		padding: 10px 20px;
		background-color: #A5CCD1;
		color: white;
		text-transform: capitalize;
		// background-color: #EFE9F4;
		// color: #628B48;

		h1{
			font-size: 1.5em;
			flex-grow: 50;
		}
		.clear-all{
			flex-grow: 1;
			// text-decoration: underline;
			cursor: pointer;
		}
	}

	textarea{
		resize: none;
		flex-grow: 1;
		border: none;
		border-bottom: 2px solid white;
		border-radius: 5px;
		background-color: transparent;
		width: 100%;
		font-size: 2.5em;
		color: #8b8c89;
		text-align: center;
		padding: 10px 30px;
	}
	.action-items{
		width: 100%;
		display: flex;
		flex-direction: column;

		
		li{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			padding: 10px 30px;
			font-size: 1.5em;
			border-bottom: 1px solid white;
			transition: font-size .5s ease-in;

			&.red{
				background-color: #ff595e;
			}
			&.orange{
				background-color: #ffca3a;
			}
			&.green{
				background-color: #8ac926;
			}
			&.blue{
				background-color: #1982c4;
			}
			&.purple{
				background-color: #6a4c93;
			}

			&.completed{
				background: rgba(127, 127, 127, 0.30);
				font-size: .75em;
				color: white;
				text-decoration: line-through;
			}
			&.deleted{
				background: red;
				animation: delete-item 2s forwards;
			}

			.delete-box{
				background-color: #d88c9a;
				border-radius: 10px;
				margin-right: 20px;
				width: 30px;
				height: 30px;
				cursor: pointer;
				padding: 10px;
				
				&:hover{
					background-color: #BCD4DE;
				}

				&.deleted{
					animation: delete-buttons 1s forwards;
				}

				img{
					position: relative;
					transform: translate(-20%, -40%);
					text-align: center;
					width: 20px;	
				}
			}

			
			.check-box{
				padding: 10px;
				background-color: #d88c9a;
				border-radius: 10px;
				margin-right: 20px;
				width: 30px;
				height: 30px;
				box-shadow: -2px -2px 5px white, 3px 3px 5px rgb(0 0 0 / 10%);
				cursor: pointer;
				transition: all .5s ease-in;

				&.checked{
					transform: scale(.95);
					box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgb(0 0 0 / 10%);
				}
				&.deleted{
					animation: delete-buttons 2s forwards;
				}

				&:hover{
					background-color: #BCD4DE;
				}

				img{
					position: relative;
					transform: translate(-20%, -30%);
					text-align: center;
					width: 20px;
					transition: transform .5s ease-in;

					&.checked{
						transform: rotate(180deg) translate(25%, 25%);
					}
				}
				
			}

			p{

				font-size: 1em;
				cursor: pointer;
			}
		}
	}
	.bottom-counters{
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 70px 25px 0px 25px;
		color: #086375;

		.item-counter-wrapper, .completed-item-counter-wrapper, .labels-wrapper{
			display: flex;
		}
		.item-counter, .completed-item-counter, .labels{
			padding-left: 10px;
		}

		.labels{
			display: flex;
			cursor: pointer;

			.red-counter, .orange-counter, .green-counter, .blue-counter, .purple-counter{
				display: none;
				
				&.visible{
					display: flex;
				}
			}
		}
	}
}